.contacts{
    background-image: url("contacts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    color: white;
    text-align: center; 
}
.Contacts{
    margin-bottom: 20px;
    margin-top: 222px;
}
.About_Us{
    margin-bottom: 20px;
    margin-top: 100px;
}

.aboutUs{
    background-image: url("aboutUs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.menu{
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    color: white;
    
} 
div{
    text-align: center;
    color:#543307;
}
.img{
    margin-left: 50px;
}